#headerstyle {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(163, 24, 182);
    font-size: x-large;
    text-align: center;
}

.lienabled {
    pointer-events: all;
}

.crud {
    display: inline-block;
}

.editbutton {
    color: green;
    margin-left: 5px;
}

.deletebutton {
    color: crimson;
}

.taskinput {
    margin-top: 5px;
    opacity: 0.5;
}

#tasks {
    background-color: fuchsia;
}

#cont {
    border: 1px;
    border-color: blue;
}

#uid {
    background-color: coral;
}